<form (submit)="onSubmit($event)">
  <div>
    <img src="logo1.png" alt="UBUMonitorWeb" />
    <h2 i18n>Login</h2>
  </div>

  <mat-form-field>
    <mat-label i18n>Host</mat-label>
    <input matInput [formField]="loginForm.host" [matAutocomplete]="auto" />
    @if ($insecure()) {
      <mat-icon matSuffix i18n-title title="Insecure connection">warning</mat-icon>
    }
    <mat-autocomplete #auto="matAutocomplete">
      @for (host of $hosts(); track host) {
        <mat-option [value]="host">{{ host }}</mat-option>
      }
    </mat-autocomplete>

    @if (loginForm.host().errors()[0]; as err) {
      <mat-error>{{ err.message }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label i18n>User</mat-label>
    <input matInput [formField]="loginForm.username" />
    @if (loginForm.username().errors()[0]; as err) {
      <mat-error>{{ err.message }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label i18n>Password</mat-label>
    <input matInput type="password" [formField]="loginForm.password" />
    @if (loginForm.password().errors()[0]; as err) {
      <mat-error>{{ err.message }}</mat-error>
    }
  </mat-form-field>

  <div>
    <mat-checkbox i18n [formField]="loginForm.rememberHost">Remember host</mat-checkbox>
    <mat-checkbox i18n [formField]="loginForm.rememberUsername">Remember username</mat-checkbox>
    <mat-checkbox i18n [formField]="loginForm.offlineMode">Offline mode</mat-checkbox>
  </div>

  <div>
    <button i18n matButton="filled" color="primary" type="submit">Connect</button>
    <button matIconButton type="button" (click)="onClear()" i18n-title title="Clean">
      <mat-icon>cleaning_services</mat-icon>
    </button>
    <button
      matIconButton
      type="button"
      (click)="onRefresh()"
      i18n-title
      title="Restore preferences"
    >
      <mat-icon>settings_backup_restore</mat-icon>
    </button>
  </div>
</form>
