<header>
  <app-navbar
    [principal]="session.currentPrincipal()"
    (changeCourse)="session.clearCourse()"
    (logout)="session.logout()"
    (toggleSidebar)="drawer.toggle()"
  />
</header>

<main>
  <mat-sidenav-container autosize>
    <mat-sidenav
      #drawer
      mode="side"
      [opened]="store.sidenavOpened()"
      (openedChange)="store.setSidenavOpened($event)"
    >
      <div class="sidebar-component">
        <mat-accordion multi="true">
          <mat-expansion-panel
            [expanded]="store.isPanelExpanded('users')"
            (opened)="store.setPanelExpanded('users', true)"
            (closed)="store.setPanelExpanded('users', false)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title i18n>Users</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="expansion-panel-body">
              <app-users-panel />
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="store.isPanelExpanded('activity')"
            (opened)="store.setPanelExpanded('activity', true)"
            (closed)="store.setPanelExpanded('activity', false)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title i18n>Activity Selection</mat-panel-title>
            </mat-expansion-panel-header>
            <!-- <div class="expansion-panel-body">
      <app-activity-selection></app-activity-selection>
    </div> -->
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="workspace">
        <p>Workspace</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>

<footer>
  <app-statusbar
    [platform]="session.currentPrincipal().platform"
    [course]="session.currentCourse()"
    (refresh)="onRefresh()"
  />
</footer>
