<header>
  <app-navbar
    [principal]="session.currentPrincipal()"
    (changeCourse)="session.clearCourse()"
    (logout)="session.logout()"
    (toggleSidebar)="drawer.toggle()"
    (openSettings)="onOpenSettings()"
    (exportDataset)="exportDataset()"
    (importDataset)="importDataset()"
  />
</header>

<main>
  <mat-sidenav-container autosize>
    <mat-sidenav
      #drawer
      mode="side"
      [opened]="store.sidenavOpened()"
      (openedChange)="store.setSidenavOpened($event)"
    >
      <mat-accordion multi="true">
        @if (store.isPanelVisible('users')) {
          <app-users-panel
            [expanded]="store.isPanelExpanded('users')"
            (expandedChange)="store.setPanelExpanded('users', $event)"
          />
        }

        @if (store.isPanelVisible('activities')) {
          <app-activity-panel
            [expanded]="store.isPanelExpanded('activities')"
            (expandedChange)="store.setPanelExpanded('activities', $event)"
          />
        }
      </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-workspace [tabIndex]="store.tabIndex()" (tabIndexChange)="store.setTabIndex($event)" />
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>

<footer>
  <app-statusbar
    [principal]="session.currentPrincipal()"
    [course]="session.currentCourse()"
    (refresh)="dataset.refresh()"
  />
</footer>
