article {
  cursor: default;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  cursor: pointer;

  &.selected,
  &:hover {
    background-color: var(--mat-sys-secondary-container);
  }

  .avatar-action-container {
    cursor: pointer;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      object-fit: cover;
    }

    mat-checkbox {
      display: none !important;
    }

    &:hover {
      img {
        display: none;
      }

      mat-checkbox {
        display: flex !important;
      }
    }
  }
}

article.selected .avatar-action-container {
  img {
    display: none;
  }

  mat-checkbox {
    display: flex !important;
  }
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  flex: 1;
  min-width: 0;

  strong {
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    color: var(--mat-sys-on-surface);
  }

  small {
    font-size: 12px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    color: var(--mat-sys-on-surface);
  }
}
