<mat-toolbar color="primary">
  <button matIconButton (click)="toggleSidebar.emit()" i18n-title title="Open sidebar">
    <mat-icon>menu</mat-icon>
  </button>

  <img src="logo2.png" alt="UBUMonitorWeb" class="logo" />
  <span class="title">UBUMonitorWeb</span>

  <span class="spacer"></span>

  <!-- Menú Logs -->
  <button matButton [matMenuTriggerFor]="logsMenu" i18n>
    <mat-icon>receipt_long</mat-icon> Logs
  </button>
  <mat-menu #logsMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>upload_file</mat-icon>
      <span i18n>Upload</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete_sweep</mat-icon>
      <span i18n>Clear</span>
    </button>
  </mat-menu>

  <!-- Menú Export -->
  <button matButton [matMenuTriggerFor]="exportMenu" i18n>
    <mat-icon>download</mat-icon> Export
  </button>
  <mat-menu #exportMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>dashboard</mat-icon>
      <span i18n>Dashboard</span>
    </button>
    <button mat-menu-item>
      <mat-icon>leaderboard</mat-icon>
      <span i18n>Ranking</span>
    </button>
    <button mat-menu-item>
      <mat-icon>group</mat-icon>
      <span i18n>Users</span>
    </button>
  </mat-menu>

  <!-- Botón Settings -->
  <button matButton (click)="openSettings.emit()" i18n><mat-icon>settings</mat-icon> Settings</button>

  <!-- Botón Modo Claro / Oscuro -->
  <app-theme-toggle />

  <button mat-icon-button [matMenuTriggerFor]="userMenu" class="picture-button">
    <img
      [src]="principal().picture ?? 'user_blank.png'"
      [alt]="principal().fullName"
      class="picture"
    />
  </button>

  <mat-menu #userMenu>
    <h3>{{ principal().fullName }}</h3>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="changeCourse.emit()">
      <mat-icon>swap_horiz</mat-icon>
      <span i18n>Change course</span>
    </button>
    <button mat-menu-item (click)="logout.emit()">
      <mat-icon>logout</mat-icon>
      <span i18n>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
