@use '@angular/material' as mat;

html {
  height: 100%;
  color-scheme: light dark;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  scrollbar-width: thin;
  scrollbar-color: var(--mat-sys-outline-variant) transparent;
}

@media (prefers-color-scheme: dark) {
  html:not(.light) {
    @include mat.theme(
      (
        color: (
          primary: mat.$azure-palette,
          tertiary: mat.$blue-palette,
          theme-type: dark,
        ),
      )
    );
  }
}

html.dark {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: dark,
      ),
    )
  );
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

// Estilos para las scrollbars
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mat-sys-outline-variant);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--mat-sys-outline);
}

// Estilos para los menús (mat-menu)
// Normalización global para todos los menús desplegables
.mat-mdc-menu-panel {
  border: 1px solid var(--mat-sys-outline-variant) !important;
  min-width: 220px !important;

  // Títulos
  h3 {
    margin: -8px 0 0 0 !important;
    padding: 16px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--mat-sys-on-surface-variant);
  }

  mat-divider {
    margin-bottom: 4px !important;
  }

  mat-form-field {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 12px;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 8px;
    }

    .mat-mdc-text-field-wrapper {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .mat-mdc-form-field-flex {
      height: 30px !important;
      align-items: center !important;
    }

    .mat-mdc-form-field-infix {
      padding: 0 !important;
      min-height: auto !important;
      display: flex;
      align-items: center;
    }

    .mat-mdc-select-trigger {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .mat-mdc-select-arrow-wrapper {
      transform: translateY(-2px);
    }
  }
}
