@use '@angular/material' as mat;

html {
  height: 100%;
  color-scheme: light dark;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  scrollbar-width: thin;
  scrollbar-color: var(--mat-sys-outline-variant) transparent;
}

@media (prefers-color-scheme: dark) {
  html:not(.light) {
    @include mat.theme(
      (
        color: (
          primary: mat.$azure-palette,
          tertiary: mat.$blue-palette,
          theme-type: dark,
        ),
      )
    );
  }
}

html.dark {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: dark,
      ),
    )
  );
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mat-sys-outline-variant);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--mat-sys-outline);
}
