@if (store.isLoading()) {
  <app-progress-spinner i18n>Loading sections...</app-progress-spinner>
} @else {
  <div class="users-panel-component">
    <header>
      <div class="select-all-container">
        <mat-checkbox i18n-title title="Select all"> </mat-checkbox>
      </div>

      <div class="search-wrapper">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <input
            matInput
            i18n-placeholder
            placeholder="Filter sections..."
            [ngModel]="store.term()"
            (ngModelChange)="store.updateTerm($event)"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <button matIconButton [matMenuTriggerFor]="filtersMenu">
        <mat-icon matBadgeSize="medium" matBadgeColor="accent" aria-hidden="false">
          filter_list
        </mat-icon>
      </button>
    </header>

    <!-- Menú de filtros -->
    <mat-menu #filtersMenu="matMenu" xPosition="before">
      <div class="filters-menu" (click)="$event.stopPropagation()">
        <h3 i18n>Filters</h3>
        <mat-divider></mat-divider>
        @if (store.availableTypes()) {
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-select multiple i18n-placeholder placeholder="Roles">
              @for (type of store.availableTypes(); track type) {
                <mat-option [value]="type">{{ type }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }

        @if (store.availablePurposes()) {
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-select multiple i18n-placeholder placeholder="Groups">
              @for (purpose of store.availablePurposes(); track purpose) {
                <mat-option [value]="purpose">{{ purpose }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
      </div>
    </mat-menu>

    <main>
      @for (section of store.filteredSections(); track section.id) {
        <app-section-article [section]="section" />
      }
    </main>
  </div>
}
