<div class="dashboard-layout">
  <app-navbar
    [principal]="principal"
    (changeCourse)="changeCourse()"
    (logout)="logout()"
    (toggleSidebar)="drawer.toggle()"
  >
  </app-navbar>

  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #drawer mode="side" opened class="sidenav-panel">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <app-workspace></app-workspace>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-statusbar
    [course]="course.fullname"
    [siteUrl]="principal.siteurl"
    [siteName]="principal.sitename"
  >
  </app-statusbar>
</div>
