<div class="users-list-component">
  <header>
    <div class="select-all-container">
      <mat-checkbox
        i18n-title
        title="Select all"
        [checked]="isAllSelected()"
        [indeterminate]="isPartiallySelected()"
        (change)="toggleAll()"
      >
      </mat-checkbox>
    </div>

    <div class="search-wrapper">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput i18n-placeholder placeholder="Filter users..." [(ngModel)]="$term" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <button matIconButton [matMenuTriggerFor]="filtersMenu">
      <mat-icon>filter_list</mat-icon>
    </button>
  </header>

  <!-- Menú de filtros -->
  <mat-menu #filtersMenu="matMenu" xPosition="before">
    <div class="filters-menu" (click)="$event.stopPropagation()">
      <h3 i18n>Filters</h3>
      <mat-divider></mat-divider>
      @if ($roles().length) {
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-select [(ngModel)]="$selectedRoles" multiple i18n-placeholder placeholder="Roles">
            @for (role of $roles(); track role) {
              <mat-option [value]="role">{{ role }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }

      @if ($groups().length) {
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-select [(ngModel)]="$selectedGroups" multiple i18n-placeholder placeholder="Groups">
            @for (group of $groups(); track group) {
              <mat-option [value]="group">{{ group }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    </div>
  </mat-menu>

  <main>
    @if ($users.isLoading()) {
      <div class="loader">
        <mat-spinner diameter="48"></mat-spinner>
        <p i18n>Loading users...</p>
      </div>
    } @else {
      @for (user of $filteredUsers(); track user.id) {
        <article [class.selected]="isSelected(user)">
          <div class="avatar-action-container" (click)="toggleSelection(user)">
            <img [src]="user.picture || 'user_blank.png'" [alt]="user.fullName" />
            <mat-checkbox [checked]="isSelected(user)" style="pointer-events: none"></mat-checkbox>
          </div>

          <div class="user-details">
            <strong>{{ user.fullName }}</strong>
            <small i18n>Course: {{ user.lastCourseAccess | timeAgo:'s' }}</small>
            <small i18n>Platform: {{ user.lastAccess | timeAgo:'s' }}</small>
          </div>

          <button matIconButton class="profile-btn" (click)="openProfile(user)">
            <mat-icon>account_circle</mat-icon>
          </button>
        </article>
      }
    }
  </main>
</div>
