<div class="status-left">
  <span class="host-name">
    <a matButton target="_blank" [href]="principal().siteurl" [title]="principal().release">{{ principal().sitename }}</a>
  </span>
  <span class="separator">|</span>
  <span class="course-name">{{ course().fullname }}</span>
</div>

<div class="status-right">
  <span>Last update: {{ lastUpdate() | timeAgo }}</span>

  <button matIconButton (click)="refresh.emit()" i18n-title title="Update">
    <mat-icon>sync</mat-icon>
  </button>

  <span class="separator">|</span>

  <a
    matIconButton
    target="_blank"
    i18n-title
    title="User manual"
    href="https://ubumonitordocs.readthedocs.io/es/latest/"
  >
    <mat-icon>menu_book</mat-icon>
  </a>

  <a
    matIconButton
    target="_blank"
    i18n-title
    title="Repository"
    href="https://github.com/verteramo/UBUMonitorWeb"
  >
    <mat-icon>code</mat-icon>
  </a>
</div>
