<mat-accordion multi="false" class="vscode-accordion">
  <mat-expansion-panel expanded class="vscode-panel">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>Users</mat-panel-title>
    </mat-expansion-panel-header>
    <app-users-list></app-users-list>
  </mat-expansion-panel>

  <mat-expansion-panel class="vscode-panel">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>Activity Selection</mat-panel-title>
    </mat-expansion-panel-header>
    <!-- <app-activity-selection></app-activity-selection> -->
  </mat-expansion-panel>
</mat-accordion>
