/* 1. Reset estructural común (Puente Flexbox rígido y sin desbordes) */
:host,
.sidebar-component,
mat-accordion,
.expansion-panel-body,
.expansion-panel-body > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

mat-accordion {
  gap: 5px;
}

/* 2. Sobreescritura profunda y estricta de Angular Material */
::ng-deep mat-expansion-panel {
  border-radius: 4px !important;
  border: 1px solid var(--mat-sys-outline-variant) !important;
  // Sin sombra
  --mat-expansion-container-elevation-shadow: none;
  // Tamaño headers colapsados y expandidos
  --mat-expansion-header-expanded-state-height: 30px;
  --mat-expansion-header-collapsed-state-height: 30px;

  mat-expansion-panel-header {
    background-color: var(--mat-sys-surface-container-high) !important;
  }

  .mat-expansion-panel-body {
    padding: 0;
  }

  &.mat-expanded {
    display: grid !important;
    grid-template-rows: max-content minmax(0, 1fr) !important;
    flex: 1 !important;
    margin: 0;

    mat-expansion-panel-header {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-bottom: 1px solid var(--mat-sys-outline-variant) !important;
    }

    .mat-expansion-panel-content,
    .mat-expansion-panel-content > div,
    .mat-expansion-panel-body {
      display: flex !important;
      flex-direction: column !important;
      flex: 1 !important;
      min-height: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
      overflow: hidden !important;
    }
  }
}
